html
  head
    title=title
    link(href='/stylesheets/my.css', rel='stylesheet')
    
  body
    div.container
      div.jumbotron
        h1 G-HELP

        if user
          p Welcome, #{user.fullName}
          p
            a.small(href="profile") Edit my profile
          a.btn.btn-primary(href="/logout") Logout
        else
          p Welcome to G-HELP, your MUN buddy!
          p
            a.btn.btn-primary(href="") Student Login     
            &nbsp 
            &nbsp
            a.btn.btn-primary(href="") Admin Login
           p
           |  Interested in hosting a student? &nbsp
           a(href='',target='popup', onclick="window.open('http://localhost:3000/hostfamily','name','width=1024,height=600,toolbar=0,location=0, directories=0, status=0, menubar=0')") Click here!
           
           
           
     